## Numeric Data Types
* Integers
* Real numbers

In [4]:
#Converts a real number (float) to an integer
print(int(66.6666666666))

#Converts an integer to a real number (float)
print(float(67))

# Check the data type using "type" function
## Results in integer data type
print(type(66))

## Results in a real number (float) data type
print(type(float(67)))

66
67.0
<class 'int'>
<class 'float'>

### Numbers and Arithmetic
  * "+" for addition
  * "-" for substraction
  * "*" multiplication
  * "/" division
  * "**" or pow() for exponentiation
  * "%" modulus to extract remainder
  * "//" floor division to extract quotient

In [ ]:
# addition using "+"
3+7

In [ ]:
# subtraction using "-"
9-7

In [ ]:
# multiplication using "*"
7*8

In [ ]:
# division using "/"
18/3

In [1]:
# integer division through double slash
# results in quotient
9//2

4

In [3]:
13//7

1

In [5]:
# modulus results in remainder
print(9%2)
print(13%7)

1
6

In [6]:
divmod(9,2)

(4, 1)

In [4]:
divmod(13,7)

(1, 6)

#### Using multiple arithmetic operators
$FV= (PV*(1+r/n)^{nt})$ <br>
where: <br>
* PV = present value of money (say 1000 rupees)
* FV = future value of money (to be calculated)
* r = interest rate (say 6.25%)
* n = number of compounding periods (semi-anually)
* t = number of years (5 years)

In [2]:
# Calculation of future value using ** for exponentiation
1000*(1+0.0625/2)**(2*5)

1360.3154027780997

In [3]:
# Calculation of future value using pow() for exponentiation
1000*pow((1+0.0625/2), 2*5)

1360.3154027780997

In [1]:
type(66)

int

In [2]:
type(66.66)

float

In [16]:
type(6)

int

In [17]:
type(6.6)

float

In [18]:
type("My name is Rev")

str

In [19]:
type('a')

str

In [20]:
type(True)

bool

In [23]:
type((1-3.0j))

complex

In [27]:
type(None)

NoneType

In [28]:
int(66.66)

66

In [29]:
float(66)

66.0

In [30]:
complex(66)

(66+0j)

In [33]:
type(66.66)

float

In [31]:
str(66.66)

'66.66'

In [32]:
type(str(66.66))

str

In [1]:
var_a = 66.66
print(var_a)

66.66

In [2]:
type(var_a)

float

In [3]:
var_complex = 1+3j
print(var_complex)

(1+3j)

In [4]:
type(var_complex)

complex

In [5]:
str(var_a)

'66.66'

In [6]:
var_str = str(var_a)

In [7]:
type(var_str)

str

In [8]:
var_rev = "rev"

In [9]:
int(var_rev)

ValueError: invalid literal for int() with base 10: 'rev'

In [10]:
var_str_1 = "78.56"

In [11]:
type(var_str_1)

str

In [12]:
var_str_1_fl = float(var_str_1)

In [13]:
type(var_str_1_fl)

float

In [14]:
int(var_str_1_fl)

78