## Lists
* Used when sequential order of elements is preferred
* List data structure in Python preserves order

In [1]:
# Illustration of a list
# One may create list without using the keyword "list"
# Here, creating a list by name python_list
python_list = [2023, 'Apple', ['iPhone', 'Mac', 'iPad', 'airpods'], [1, 10, 99]]

In [2]:
# Check the contents of the created list python_list
python_list

[2023, 'Apple', ['iPhone', 'Mac', 'iPad', 'airpods'], [1, 10, 99]]

In [3]:
# Verify the data structure type of the python_list
type(python_list)

list

In [4]:
# use len() function to verify the size of the list
len(python_list)

4

In [6]:
four_students_gpa = [7.5, 7.8, 8.5, 9.2]

In [7]:
len(four_students_gpa)

4

In [8]:
student1 = [1001, 'Tom', 7.8, 'Black']

In [9]:
type(student1)

list

In [10]:
len(student1)

4

In [11]:
student1[4-1]

'Black'

In [13]:
print(student1[2-1])
print(student1[4-1])

Tom
Black

In [14]:
python_list[2]

['iPhone', 'Mac', 'iPad', 'airpods']

In [15]:
python_list[2][2]

'iPad'

In [17]:
python_list[2][1:3]

['Mac', 'iPad']

### Subsetting the list

In [18]:
# Access the first element of list using index-0
python_list[0]

2023

In [19]:
# Access the third element of list using index-2
python_list[2]

['iPhone', 'Mac', 'iPad', 'airpods']

In [20]:
# The third element of list is a vector
# Access the first value in third element of list using index-2 and index-0
python_list[2][0]

'iPhone'

In [22]:
# Python lists are mutable
# The first element a.k.ak zeroth-index of python_list is 2023
# The first element is changed to value as shown below
python_list[0] = '19-02-2023'

In [23]:
# Verify the changes below
python_list

['19-02-2023', 'Apple', ['iPhone', 'Mac', 'iPad', 'airpods'], [1, 10, 99]]

In [24]:
# access first two elements in list as shown below
python_list[:2]

['19-02-2023', 'Apple']

In [25]:
python_list[0:2]

['19-02-2023', 'Apple']

In [27]:
python_list

['19-02-2023', 'Apple', ['iPhone', 'Mac', 'iPad', 'airpods'], [1, 10, 99]]

In [26]:
# Get the second and third values in a list
python_list[1:3]

['Apple', ['iPhone', 'Mac', 'iPad', 'airpods']]

In [28]:
# Replace the second and third values in a list
python_list[1:3] = ['Netflix', ['Stranger Things', 'Money Heist'], [2, 5]]
#['BITS States', ['Rajasthan', 'Goa', 'Telangana', 'UAE'], 50000]

# Verify if the above changes are made
python_list

['19-02-2023',
 'Netflix',
 ['Stranger Things', 'Money Heist'],
 [2, 5],
 [1, 10, 99]]

In [31]:
python_list = [2023, 'Apple', ['iPhone', 'Mac', 'iPad', 'airpods'], [1, 10, 99]]
python_list

[2023, 'Apple', ['iPhone', 'Mac', 'iPad', 'airpods'], [1, 10, 99]]

In [3]:
x = python_list[2]
x

['iPhone', 'Mac', 'iPad', 'airpods']

In [4]:
x[1]

'Mac'

In [6]:
python_list[2][1:3]

['Mac', 'iPad']

In [7]:
python_list[2][0:3]

['iPhone', 'Mac', 'iPad']

In [8]:
python_list[2][:3]

['iPhone', 'Mac', 'iPad']

### Expanding the list i.e., adding one mor element to the list
* Add an element at the end using + operator
* Add an element at the end using append() function
* Add an element any where, say nth position using insert(n, 'inserted element at n') function

In [9]:
len(python_list)

4

In [42]:
# Following throws an error
python_list[5] = ['ELement 5']

IndexError: list assignment index out of range

In [10]:
python_list

[2023, 'Apple', ['iPhone', 'Mac', 'iPad', 'airpods'], [1, 10, 99]]

In [11]:
python_list + 'Element 5'

TypeError: can only concatenate list (not "str") to list

In [12]:
type(python_list)

list

In [32]:
type('Element_5')

str

In [33]:
type(['Element_5'])

list

In [15]:
# In order to add one more element to list, use "+" operator
python_list = python_list + ['Element 5']

 #Verify if the above changes are made
python_list

[2023, 'Apple', ['iPhone', 'Mac', 'iPad', 'airpods'], [1, 10, 99], 'Element 5']

In [16]:
# Another method to add one more element to list: use append() function
python_list.append('Element 6')

 #Verify if the above changes are made
python_list

[2023,
 'Apple',
 ['iPhone', 'Mac', 'iPad', 'airpods'],
 [1, 10, 99],
 'Element 5',
 'Element 6']

In [17]:
python_list[0]

2023

In [34]:
# In case, a new element is to be added at the beginning: use insert(0, 'Element') function
python_list.insert(0,'Inserted Element')

#Verify if the above changes are made
python_list

['Inserted Element',
 2023,
 'Apple',
 ['iPhone', 'Mac', 'iPad', 'airpods'],
 [1, 10, 99]]

In [19]:
python_list[0]

'Inserted Element'

In [35]:
python_list.insert(5,'Rev')
python_list

['Inserted Element',
 2023,
 'Apple',
 ['iPhone', 'Mac', 'iPad', 'airpods'],
 [1, 10, 99],
 'Rev']

In [17]:
# In case, a new element is to be added at the 4th position: use insert(4, 'Element 4') function
python_list.insert(3,'Inserted Element 4')

#Verify if the above changes are made
python_list

['Inserted Element',
 2021,
 'BITS',
 'Inserted Element 4',
 ['Pilani', 'Goa', 'Hyderabad', 'Dubai'],
 [1, 10, 99],
 'Element 5',
 'Element 6']

### Remove the element from a list
* use remove() function to remove a particular element
* use del function to delete particular element or elements from a list
* use pop() function to remove particula element from a list

In [21]:
# delete the first element using del
del python_list[0]

#Verify if the above changes are made
python_list

[2023,
 'Apple',
 ['iPhone', 'Mac', 'iPad', 'airpods'],
 [1, 10, 99],
 'Rev',
 'Element 5',
 'Element 6']

In [22]:
# remove the  element using remove() function, and specify the value to be removed
# Following removes 'Rev' positioned at index-4
python_list.remove('Rev')

#Verify if the above changes are made
python_list

[2023,
 'Apple',
 ['iPhone', 'Mac', 'iPad', 'airpods'],
 [1, 10, 99],
 'Element 5',
 'Element 6']

In [24]:
python_list

[2023,
 'Apple',
 ['iPhone', 'Mac', 'iPad', 'airpods'],
 [1, 10, 99],
 'Element 5',
 'Rev',
 'Element 6']

In [25]:
# remove the  element using del , and specify the value to be removed
# Following removes 'Rev' positioned at index-4
del python_list[5]

In [26]:
python_list

[2023,
 'Apple',
 ['iPhone', 'Mac', 'iPad', 'airpods'],
 [1, 10, 99],
 'Element 5',
 'Element 6']

In [27]:
# In case more than one element to be removed positioned between n and m indexes, use del list_name(n-1,m)
# Delete values positioned at between 3 and 5, including 3 and 5
del python_list[3:5]

#Verify if the above changes are made
python_list

[2023, 'Apple', ['iPhone', 'Mac', 'iPad', 'airpods'], 'Element 6']

In [28]:
# Use pop() function to delete an element from the list
# delete the 2nd element from the list as illustrated below
python_list.pop(1)

'Apple'

In [29]:
python_list.pop()

'Element 6'

In [30]:
python_list

[2023, ['iPhone', 'Mac', 'iPad', 'airpods']]

In [22]:
#Verify if the 2nd element is removed through pop() function
python_list

[2021, ['Pilani', 'Goa', 'Hyderabad', 'Dubai'], [1, 10, 99]]

In [36]:
python_list

['Inserted Element',
 2023,
 'Apple',
 ['iPhone', 'Mac', 'iPad', 'airpods'],
 [1, 10, 99],
 'Rev']

In [37]:
python_list.pop()

'Rev'

In [38]:
python_list

['Inserted Element',
 2023,
 'Apple',
 ['iPhone', 'Mac', 'iPad', 'airpods'],
 [1, 10, 99]]

In [39]:
python_list.pop()
python_list

['Inserted Element', 2023, 'Apple', ['iPhone', 'Mac', 'iPad', 'airpods']]

In [40]:
python_list.pop()
python_list

['Inserted Element', 2023, 'Apple']

## Sort elements in a list
* use function sorted()
* use function sort()
* Both use Timsort algorithm
* Read more on Timsort algorithm here: https://en.wikipedia.org/wiki/Timsort
* Both the sorting functions cannot sort a mix of data types such as numeric and strings data types

In [41]:
# Sort using sorted() function on list with mixed data types
# Expect that it throws an error
sorted(python_list)

TypeError: '<' not supported between instances of 'int' and 'str'

In [42]:
# Sort using sort() function on list with mixed data types
# Expect that it throws an error
python_list.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [43]:
# Create a new list (numeric_list_1 & numeric_list_2 are same)
numeric_list_1 = [99, 87, 104, 22, 76, 54, 93]
numeric_list_2 = [99, 87, 104, 22, 76, 54, 93]

In [44]:
# Sort using sorted() function on list with numeric data types
sorted(numeric_list_1)

[22, 54, 76, 87, 93, 99, 104]

In [45]:
numeric_list_1

[99, 87, 104, 22, 76, 54, 93]

In [46]:
# Sort using sort() function on list with numeric data types
numeric_list_2.sort()

# Verify if the list is sorted
numeric_list_2

[22, 54, 76, 87, 93, 99, 104]

In [47]:
numeric_list_2

[22, 54, 76, 87, 93, 99, 104]